main {
	text-align: center;
	height: 100vh;
	/* background: linear-gradient(#aaa, #eee); */
	background: #e4f9ff;
}

#playSection {
	background: #0fabbc;
	border-radius: 10px;
}

section,
div {
	margin: 10px auto;
}

button {
	border: 0;
	font-size: 1.1rem;
}

#play {
	background: #f4f6ff;
	width: 30%;
	border-radius: 5px;
	margin: 10px;
	padding: 1.1em;
}

#match {
	background: #a2de96;
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

#match:hover {
	padding: 10px;
}

#shapeSection {
	display: flex;
}
